//key
//sd - self described
//@authored by Kevin -- Twitter @_ https://x.com/kaybarax, Github @_ https://github.com/kaybarax, LinkedIn @_ https://linkedin.com/in/kevin-barasa

.login-action {
  cursor: pointer;

  .selected {
    text-decoration: underline;
  }
}

.login-registration-form {
  max-width: 25rem;
  margin: 0 auto;
  text-align: left;
}
