//key
//sd - self described
//@authored by Kevin -- Twitter @_ https://x.com/kaybarax, Github @_ https://github.com/kaybarax, LinkedIn @_ https://linkedin.com/in/kevin-barasa
// with help from w3schools @_ https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_menu

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;

  .selected {
    background-color: #111111;
  }
}

li {
  float: left;
  color: #ffffff;
  cursor: pointer;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.badge {
  background-color: #4CAF50;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-left: 8px;
}
